---
import ExternalLinkIcon from "./ExternalLinkIcon.astro";

const { item } = Astro.props;
---

<li class="offer-card">
  <a href={item.href}>
    <div class="offer-card__media">
      {
        item.image ? (
          <img
            src={item.image}
            alt=""
            width="240"
            height="120"
            loading="lazy"
            decoding="async"
          />
        ) : (
          <span>{item.title}</span>
        )
      }
      <span class="offer-card__icon">
        <ExternalLinkIcon />
      </span>
    </div>
    {item.image && <h3>{item.title}</h3>}
    <p>{item.description}</p>
  </a>
</li>
